.mixin-btn {
  box-sizing: border-box;
  color: white;
  text-align: center;
  background: #4169dc;
  border: solid 1px transparent;
  cursor: pointer;
}
.mixin-btn:hover {
  background: #6c8be4;
}
.mixin-btn[disabled],
.mixin-btn[disabled]:hover {
  cursor: default;
  opacity: 0.5;
  background: #4169dc;
}
.mixin-btn.btn-ghost {
  color: #4169dc;
  background: white;
  background: transparent;
  border: solid 1px;
}
.mixin-btn.btn-ghost:hover {
  color: #6c8be4;
  background: white;
  background: transparent;
}
.mixin-btn.btn-ghost[disabled],
.mixin-btn.btn-ghost[disabled]:hover {
  cursor: default;
  opacity: 0.5;
  color: #4169dc;
  background: white;
  background: transparent;
}
.mixin-btn.btn-red {
  background: #f74d4d;
}
.mixin-btn.btn-red:hover {
  color: white;
  background: #f97e7e;
}
.mixin-btn.btn-red[disabled],
.mixin-btn.btn-red[disabled]:hover {
  cursor: default;
  opacity: 0.5;
}
.mixin-btn.btn-green {
  background: #3fc3a3;
}
.mixin-btn.btn-green:hover {
  color: white;
  background: #4fd1b0;
}
.mixin-btn.btn-green[disabled],
.mixin-btn.btn-green[disabled]:hover {
  cursor: default;
  opacity: 0.5;
}
.mixin-btn.btn-orange {
  background: #ff9711;
}
.mixin-btn.btn-orange:hover {
  color: white;
  background: #ffab2f;
}
.mixin-btn.btn-orange[disabled],
.mixin-btn.btn-orange[disabled]:hover {
  cursor: default;
  opacity: 0.5;
}
.sc-content .side-columns {
  margin: 20px auto 0;
  font-size: 0;
  white-space: nowrap;
}
.sc-content .side-columns .col-side,
.sc-content .side-columns .col-content {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  white-space: normal;
  font-size: 16px;
}
.sc-content .side-columns .col-side {
  width: 260px;
}
.sc-content .side-columns .col-side .side-title {
  font-size: 22px;
  color: white;
  height: 75px;
  line-height: 75px;
  text-align: center;
  border-radius: 8px 8px 0 0;
  background: url(../img/side-titbg.png) no-repeat center;
  background-size: 100% 100%;
}
.sc-content .side-columns .col-side .side-content {
  border: 1px solid #eeeeee;
  box-shadow: 0 0 2px 0px #eeeeee;
  background: #ffffff;
}
.sc-content .side-columns .col-side .side-content:last-child {
  border-radius: 0 0 8px 8px;
}
.sc-content .side-columns .col-side .side-content.close {
  height: 50px;
  overflow: hidden;
}
.sc-content .side-columns .col-side .side-content.close li.active {
  background: none;
}
.sc-content .side-columns .col-side .side-content.close .iconfont.open {
  display: none;
}
.sc-content .side-columns .col-side .side-content.close .iconfont.close {
  display: block;
}
.sc-content .side-columns .col-side .side-content h2 {
  padding: 12px 20px;
  font-weight: 500;
  font-size: 18px;
  cursor: pointer;
  position: relative;
}
.sc-content .side-columns .col-side .side-content h2 .icon-shrink {
  display: block;
  font-size: 20px;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}
.sc-content .side-columns .col-side .side-content h2 .icon-shrink.close {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%) rotate(180deg);
}
.sc-content .side-columns .col-side .side-content ul {
  border-radius: 0 0 8px 8px;
}
.sc-content .side-columns .col-side .side-content ul li {
  color: #999;
  position: relative;
  text-align: left;
}
.sc-content .side-columns .col-side .side-content ul li.active,
.sc-content .side-columns .col-side .side-content ul li:hover {
  color: #0C89FC;
  font-weight: 700;
  background: #e5f4ff;
}
.sc-content .side-columns .col-side .side-content ul li.active::before,
.sc-content .side-columns .col-side .side-content ul li:hover::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 36px;
  width: 4px;
  background: #0C89FC;
}
.sc-content .side-columns .col-side .side-content ul li a {
  position: relative;
  display: block;
  padding: 12px 20px;
  margin-left: 20px;
}
.sc-content .side-columns .col-content {
  width: 880px;
  min-height: 736px;
  background: #ffffff;
  margin-left: 24px;
  border-radius: 10px;
  box-shadow: 0 0 2px #f7f7f7;
}
.sc-content .side-columns .col-content .patent-box .apply {
  width: 880px;
  margin-bottom: 30px;
}
.sc-content .side-columns .col-content .patent-box .apply a,
.sc-content .side-columns .col-content .patent-box .apply img {
  display: block;
}
.sc-content .side-columns .col-content .patent-box .apply a {
  box-shadow: 0 0 2px 2px #f7f7f7;
  border: 1px solid #f1f1f1;
  border-top: none;
  height: 70px;
  line-height: 70px;
  background: white;
  border-radius: 0 0 8px 8px;
  padding-left: 20px;
}
.sc-content .side-columns .col-content .trademark-box .apply {
  width: 880px;
  margin-bottom: 40px;
}
.sc-content .side-columns .col-content .trademark-box .apply a {
  display: block;
}
.sc-content .side-columns .col-content .landmark-box .apply {
  width: 880px;
  margin-bottom: 30px;
}
.sc-content .side-columns .col-content .landmark-box .apply a,
.sc-content .side-columns .col-content .landmark-box .apply img {
  display: block;
}
.sc-content .side-columns .col-content .landmark-box .apply a {
  box-shadow: 0 0 2px 2px #f7f7f7;
  border: 1px solid #f1f1f1;
  border-top: none;
  height: 70px;
  line-height: 70px;
  background: white;
  border-radius: 0 0 8px 8px;
  padding-left: 20px;
}
.sc-content .side-columns .col-content .complaint-box h2 {
  padding: 20px;
}
.sc-content .side-columns .col-content .complaint-box h2 a {
  display: inline-block;
  padding: 6px 10px;
  border: 1px solid #0086f9;
  border-radius: 2px;
  background: #0086f9;
  color: #f8fcff;
  text-align: center;
}
.sc-content .side-columns .col-content .search-box .search {
  margin-left: 20px;
  padding-bottom: 24px;
  margin-right: 34px;
  border-bottom: 1px dashed #dddddd;
}
.sc-content .side-columns .col-content .search-box .search h2 {
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 30px;
}
.sc-content .side-columns .col-content .search-box .search form .item {
  display: inline-flex;
  flex-direction: column;
}
.sc-content .side-columns .col-content .search-box .search form .item span {
  margin-bottom: 10px;
  color: #818181;
}
.sc-content .side-columns .col-content .search-box .search form .item input {
  border: 1px solid #e3e3e3;
  border-radius: 2px;
  height: 32px;
  padding: 4px 8px;
}
.sc-content .side-columns .col-content .search-box .search form .item input[name='name'] {
  width: 150px;
}
.sc-content .side-columns .col-content .search-box .search form .item input[name='tel'],
.sc-content .side-columns .col-content .search-box .search form .item input[name='idCard'] {
  width: 200px;
}
.sc-content .side-columns .col-content .search-box .search form .item button {
  width: 100px;
  height: 42px;
  border-radius: 2px;
  padding: 4px 8px;
}
.sc-content .side-columns .col-content .search-box .search form .item button[type='submit'] {
  background: #0086f9;
  color: #ffffff;
  border: none;
}
.sc-content .side-columns .col-content .search-box .search form .item button[type='reset'] {
  background: #ffffff;
  color: #5b5b5b;
  border: 2px solid #e3e3e3;
}
.sc-content .side-columns .col-content .search-box .result {
  margin-left: 20px;
}
.sc-content .side-columns .col-content .search-box .result h2 {
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 30px;
}
.sc-content .side-columns .col-content .search-box .result .timeLine {
  margin-left: 14px;
}
.sc-content .side-columns .col-content .search-box .result .timeLine .timeLine-item {
  display: inline-flex;
  align-items: center;
  position: relative;
  padding-bottom: 16px;
}
.sc-content .side-columns .col-content .search-box .result .timeLine .timeLine-item .dot {
  width: 14px;
  height: 14px;
  background-color: #ffffff;
  border: 2px solid #f1f1f1;
  border-radius: 50%;
}
.sc-content .side-columns .col-content .search-box .result .timeLine .timeLine-item .date {
  margin: 0 10px;
  color: #666666;
}
.sc-content .side-columns .col-content .search-box .result .timeLine .timeLine-item .content {
  padding: 12px 0 12px 12px;
  background: #fafafa;
  color: #666666;
  width: 480px;
  border: 1px solid #eeeeee;
  border-radius: 5px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.sc-content .side-columns .col-content .search-box .result .timeLine .timeLine-item::after {
  content: '';
  position: absolute;
  top: 34px;
  left: 8px;
  height: 50px;
  border-left: 2px solid #dddddd;
}
.sc-content .side-columns .col-content .search-box .result .timeLine .timeLine-item.active .dot {
  background-color: #1985ea;
  border-color: #1985ea;
}
.sc-content .side-columns .col-content .search-box .result .timeLine .timeLine-item:last-child::after {
  content: none;
}
.sc-content .side-columns .col-content .search-box .result .timeLine.desc {
  display: flex;
  flex-direction: column;
}
.sc-content .side-columns .col-content .search-box .result .timeLine.asc {
  display: flex;
  flex-direction: column-reverse;
}
.sc-content .side-columns .col-content .search-box .result .timeLine.asc .timeLine-item::after {
  top: -34px;
}
