.mixin-btn {
  box-sizing: border-box;
  color: white;
  text-align: center;
  background: #4169dc;
  border: solid 1px transparent;
  cursor: pointer;
}
.mixin-btn:hover {
  background: #6c8be4;
}
.mixin-btn[disabled],
.mixin-btn[disabled]:hover {
  cursor: default;
  opacity: 0.5;
  background: #4169dc;
}
.mixin-btn.btn-ghost {
  color: #4169dc;
  background: white;
  background: transparent;
  border: solid 1px;
}
.mixin-btn.btn-ghost:hover {
  color: #6c8be4;
  background: white;
  background: transparent;
}
.mixin-btn.btn-ghost[disabled],
.mixin-btn.btn-ghost[disabled]:hover {
  cursor: default;
  opacity: 0.5;
  color: #4169dc;
  background: white;
  background: transparent;
}
.mixin-btn.btn-red {
  background: #f74d4d;
}
.mixin-btn.btn-red:hover {
  color: white;
  background: #f97e7e;
}
.mixin-btn.btn-red[disabled],
.mixin-btn.btn-red[disabled]:hover {
  cursor: default;
  opacity: 0.5;
}
.mixin-btn.btn-green {
  background: #3fc3a3;
}
.mixin-btn.btn-green:hover {
  color: white;
  background: #4fd1b0;
}
.mixin-btn.btn-green[disabled],
.mixin-btn.btn-green[disabled]:hover {
  cursor: default;
  opacity: 0.5;
}
.mixin-btn.btn-orange {
  background: #ff9711;
}
.mixin-btn.btn-orange:hover {
  color: white;
  background: #ffab2f;
}
.mixin-btn.btn-orange[disabled],
.mixin-btn.btn-orange[disabled]:hover {
  cursor: default;
  opacity: 0.5;
}
.sc-content .side-columns {
  margin: 20px auto 0;
  font-size: 0;
  white-space: nowrap;
}
.sc-content .side-columns .col-side,
.sc-content .side-columns .col-content {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  white-space: normal;
  font-size: 16px;
}
.sc-content .side-columns .col-side {
  width: 240px;
}
.sc-content .side-columns .col-side .side-content {
  -webkit-box-shadow: #E1E1E1 0px 0px 8px;
  -moz-box-shadow: #E1E1E1 0px 0px 8px;
  box-shadow: #E1E1E1 0px 0px 8px;
  border-radius: 8px;
  padding-bottom: 10px;
}
.sc-content .side-columns .col-side .side-content h2 {
  font-size: 22px;
  height: 75px;
  line-height: 75px;
  text-align: center;
  border-radius: 8px 8px 0 0;
  background: url(../img/side-titbg.png) no-repeat center;
  background-size: 100% 100%;
  color: #fff;
}
.sc-content .side-columns .col-side .side-content ul {
  margin-top: 10px;
  border-radius: 0 0 8px 8px;
}
.sc-content .side-columns .col-side .side-content ul li {
  color: #999;
  position: relative;
  text-align: center;
}
.sc-content .side-columns .col-side .side-content ul li.active,
.sc-content .side-columns .col-side .side-content ul li:hover {
  color: #0C89FC;
  font-weight: 700;
  background: #E5F4FF;
}
.sc-content .side-columns .col-side .side-content ul li.active::before,
.sc-content .side-columns .col-side .side-content ul li:hover::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 30px;
  width: 4px;
  background: #0C89FC;
}
.sc-content .side-columns .col-side .side-content ul li a {
  position: relative;
  display: block;
  padding: 12px 20px 12px 0;
}
.sc-content .side-columns .col-content {
  padding: 0 24px 16px;
  width: calc(100% - 260px);
  min-height: 360px;
}
.sc-content .side-columns .col-content .news-title {
  position: relative;
  padding: 16px 0 16px 40px;
  font-size: 18px;
  border-bottom: solid 1px #e0e0e0;
}
.sc-content .side-columns .col-content .news-title:first-child {
  margin-top: -16px;
}
.sc-content .side-columns .col-content .news-title:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -14px;
  width: 32px;
  height: 32px;
  background: url(../../../images/city-station/ningde/title-icon-news.png) no-repeat 0 center;
}
.sc-content .side-columns .col-content .news-list li {
  margin-top: 10px;
  font-size: 14px;
  border-bottom: dashed 1px #e0e0e0;
  position: relative;
  padding-left: 5px;
}
.sc-content .side-columns .col-content .news-list li::before {
  content: '';
  height: 6px;
  width: 6px;
  background: #333;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translateY(-50%);
}
.sc-content .side-columns .col-content .news-list li:hover {
  color: #4169dc;
}
.sc-content .side-columns .col-content .news-list li a {
  position: relative;
  display: block;
  padding: 10px;
  padding-right: 160px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.sc-content .side-columns .col-content .news-list li .time {
  position: absolute;
  right: 0;
  top: 10px;
}
