.mixin-btn {
  box-sizing: border-box;
  color: white;
  text-align: center;
  background: #4169dc;
  border: solid 1px transparent;
  cursor: pointer;
}
.mixin-btn:hover {
  background: #6c8be4;
}
.mixin-btn[disabled],
.mixin-btn[disabled]:hover {
  cursor: default;
  opacity: 0.5;
  background: #4169dc;
}
.mixin-btn.btn-ghost {
  color: #4169dc;
  background: white;
  background: transparent;
  border: solid 1px;
}
.mixin-btn.btn-ghost:hover {
  color: #6c8be4;
  background: white;
  background: transparent;
}
.mixin-btn.btn-ghost[disabled],
.mixin-btn.btn-ghost[disabled]:hover {
  cursor: default;
  opacity: 0.5;
  color: #4169dc;
  background: white;
  background: transparent;
}
.mixin-btn.btn-red {
  background: #f74d4d;
}
.mixin-btn.btn-red:hover {
  color: white;
  background: #f97e7e;
}
.mixin-btn.btn-red[disabled],
.mixin-btn.btn-red[disabled]:hover {
  cursor: default;
  opacity: 0.5;
}
.mixin-btn.btn-green {
  background: #3fc3a3;
}
.mixin-btn.btn-green:hover {
  color: white;
  background: #4fd1b0;
}
.mixin-btn.btn-green[disabled],
.mixin-btn.btn-green[disabled]:hover {
  cursor: default;
  opacity: 0.5;
}
.mixin-btn.btn-orange {
  background: #ff9711;
}
.mixin-btn.btn-orange:hover {
  color: white;
  background: #ffab2f;
}
.mixin-btn.btn-orange[disabled],
.mixin-btn.btn-orange[disabled]:hover {
  cursor: default;
  opacity: 0.5;
}
.sc-active {
  padding-bottom: 0 !important;
  background: url(../img/banner/banner_active.png) no-repeat center;
  background-size: cover;
  height: 360px;
  color: #fff;
}
.sc-active .wrapper {
  position: relative;
  height: 100%;
}
.sc-active .wrapper .active-box {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 252px;
  width: 100%;
}
.sc-active .wrapper .active-box .active-img {
  position: absolute;
  left: 0;
  top: 0;
}
.sc-active .wrapper .active-box .active-img img {
  height: 252px;
  width: 376px;
}
.sc-active .wrapper .active-box .active-content {
  position: absolute;
  top: 0;
  left: 396px;
  color: #fff;
  width: 750px;
}
.sc-active .wrapper .active-box .active-content h1 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 30px;
}
.sc-active .wrapper .active-box .active-content p {
  font-size: 16px;
  line-height: 28px;
}
.sc-active .wrapper .active-box .active-content p.des {
  line-height: 1.75;
}
.sc-ccontent {
  background: white;
}
.sc-ccontent .wrapper .sign-box {
  padding-bottom: 30px;
  width: 960px;
  margin: 52px auto 0;
  border-radius: 4px;
  -webkit-box-shadow: #E1E1E1 0px 0px 8px;
  -moz-box-shadow: #E1E1E1 0px 0px 8px;
  box-shadow: #E1E1E1 0px 0px 8px;
}
.sc-ccontent .wrapper .sign-box .sign-title {
  height: 55px;
  width: 327px;
  margin: 20px auto 50px;
  background: url(../img/unit-titbg.png) no-repeat center;
  text-align: center;
  line-height: 55px;
  color: #fff;
  font-size: 22px;
  font-weight: bold;
}
.sc-ccontent .wrapper .sign-box .form {
  margin: 30px auto;
  width: 710px;
}
