@import "reset.css";
@import "form.css";
.mixin-btn {
  box-sizing: border-box;
  color: white;
  text-align: center;
  background: #4169dc;
  border: solid 1px transparent;
  cursor: pointer;
}
.mixin-btn:hover {
  background: #6c8be4;
}
.mixin-btn[disabled],
.mixin-btn[disabled]:hover {
  cursor: default;
  opacity: 0.5;
  background: #4169dc;
}
.mixin-btn.btn-ghost {
  color: #4169dc;
  background: white;
  background: transparent;
  border: solid 1px;
}
.mixin-btn.btn-ghost:hover {
  color: #6c8be4;
  background: white;
  background: transparent;
}
.mixin-btn.btn-ghost[disabled],
.mixin-btn.btn-ghost[disabled]:hover {
  cursor: default;
  opacity: 0.5;
  color: #4169dc;
  background: white;
  background: transparent;
}
.mixin-btn.btn-red {
  background: #f74d4d;
}
.mixin-btn.btn-red:hover {
  color: white;
  background: #f97e7e;
}
.mixin-btn.btn-red[disabled],
.mixin-btn.btn-red[disabled]:hover {
  cursor: default;
  opacity: 0.5;
}
.mixin-btn.btn-green {
  background: #3fc3a3;
}
.mixin-btn.btn-green:hover {
  color: white;
  background: #4fd1b0;
}
.mixin-btn.btn-green[disabled],
.mixin-btn.btn-green[disabled]:hover {
  cursor: default;
  opacity: 0.5;
}
.mixin-btn.btn-orange {
  background: #ff9711;
}
.mixin-btn.btn-orange:hover {
  color: white;
  background: #ffab2f;
}
.mixin-btn.btn-orange[disabled],
.mixin-btn.btn-orange[disabled]:hover {
  cursor: default;
  opacity: 0.5;
}
@font-face {
  font-family: 'iconfont';
  src: url('../font/iconfont.eot');
  src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'), url('../font/iconfont.woff2') format('woff2'), url('../font/iconfont.woff') format('woff'), url('../font/iconfont.ttf') format('truetype'), url('../font/iconfont.svg#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html {
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background: #f1f3f7;
}
html::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background: #e0e0e0;
}
html::-webkit-scrollbar-thumb {
  background: #bbb;
}
.container {
  min-width: 1280px;
  overflow-x: auto;
}
.container section {
  position: relative;
  overflow: hidden;
  padding-bottom: 52px;
}
.container section.w-bg {
  background: white;
}
.container section .wrapper {
  margin: 0 auto;
  width: 1200px;
}
.container section .wrapper .crumb {
  padding-top: 4px;
  line-height: 32px;
  font-size: 14px;
  color: #999;
}
.container section .wrapper .crumb i,
.container section .wrapper .crumb span {
  display: inline-block;
  vertical-align: top;
}
.container section .wrapper .crumb i.loc,
.container section .wrapper .crumb span.loc {
  padding: 0;
}
.container section .wrapper .crumb a {
  display: inline-block;
  vertical-align: top;
}
.container section .wrapper .crumb a.active {
  color: #0C89FC;
}
.container section .wrapper .crumb a:not(:last-child):after {
  content: "\e77c";
  font-family: "iconfont" !important;
  padding: 0 8px;
  pointer-events: none;
  cursor: default;
  color: #999;
}
.container .header {
  z-index: 2000;
  box-sizing: border-box;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 126px;
  background: white;
  box-shadow: 0 1px 0 #e0e0e0;
}
.container .header + :not(.hide) {
  margin-top: 126px;
}
.container .header + section {
  margin-top: 126px;
}
.container .header .wrap {
  position: relative;
  margin: 0 auto;
  text-align: right;
  width: 1200px;
  height: 100%;
}
.container .header .top-line {
  background: #efeff4;
}
.container .header .top-line .wrap {
  height: 36px;
  text-align: left;
  line-height: 36px;
  font-size: 14px;
  color: #737373;
}
.container .header .top-line .wrap a {
  display: inline-block;
  padding: 0 8px;
  vertical-align: top;
}
.container .header .top-line .wrap a:hover,
.container .header .top-line .wrap a:hover:before {
  color: #4169dc;
}
.container .header .top-line .wrap a.link {
  color: #4169dc;
}
.container .header .top-line .wrap .right-wrap {
  position: absolute;
  top: 0;
  right: 0;
}
.container .header .top-line .wrap .left-wrap {
  position: absolute;
  top: 0;
  left: 0;
}
.container .header .top-nav {
  font-size: 0;
}
.container .header .top-nav .wrap {
  height: 90px;
}
.container .header .top-nav .wrap .logo {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.container .header .top-nav .wrap .logo img {
  display: block;
  height: 54px;
  width: 396px;
}
.container .header .top-nav .wrap .nav-box {
  position: absolute;
  right: 0;
  top: 0;
}
.container .header .top-nav .wrap .nav-box > li {
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  vertical-align: top;
  font-size: 16px;
  line-height: 90px;
  text-align: center;
}
.container .header .top-nav .wrap .nav-box > li .drop-down {
  display: none;
  position: absolute;
  top: 82px;
  left: 50%;
  transform: translateX(-50%);
  width: 80px;
  padding: 5px;
  background: white;
  -webkit-box-shadow: #E1E1E1 0px 0px 10px;
  -moz-box-shadow: #E1E1E1 0px 0px 10px;
  box-shadow: #E1E1E1 0px 0px 10px;
  border-radius: 4px;
}
.container .header .top-nav .wrap .nav-box > li .drop-down .drop-down-item {
  cursor: pointer;
  height: 52px;
  width: 100%;
  line-height: 1.75;
  text-align: center;
  border-bottom: 1px solid #e0e0e0;
  color: #333;
  position: relative;
}
.container .header .top-nav .wrap .nav-box > li .drop-down .drop-down-item a {
  padding: 0;
  font-size: 14px;
  height: 100%;
  width: 100%;
}
.container .header .top-nav .wrap .nav-box > li .drop-down .drop-down-item a span {
  width: 100%;
  line-height: 1.75;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.container .header .top-nav .wrap .nav-box > li .drop-down .drop-down-item .level-box {
  position: absolute;
  top: 0;
  right: -65px;
  width: 80px;
}
.container .header .top-nav .wrap .nav-box > li .drop-down .drop-down-item .level-box .three-level {
  margin-left: 25px;
  width: 80px;
  padding: 5px;
  background: white;
  -webkit-box-shadow: #E1E1E1 0px 0px 10px;
  -moz-box-shadow: #E1E1E1 0px 0px 10px;
  box-shadow: #E1E1E1 0px 0px 10px;
  border-radius: 4px;
}
.container .header .top-nav .wrap .nav-box > li .drop-down .drop-down-item .level-box .three-level .three-level-item {
  height: 52px;
  width: 80px;
  line-height: 1.75;
  text-align: center;
  border-bottom: 1px solid #e0e0e0;
  color: #333;
  position: relative;
}
.container .header .top-nav .wrap .nav-box > li .drop-down .drop-down-item .level-box .three-level .three-level-item:last-child {
  border-bottom: none;
}
.container .header .top-nav .wrap .nav-box > li .drop-down .drop-down-item .level-box .three-level .three-level-item a {
  padding: 0;
  font-size: 14px;
  height: 100%;
  width: 100%;
}
.container .header .top-nav .wrap .nav-box > li .drop-down .drop-down-item .level-box .three-level .three-level-item a span {
  width: 100%;
  line-height: 1.75;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.container .header .top-nav .wrap .nav-box > li .drop-down .drop-down-item:hover {
  color: #666;
}
.container .header .top-nav .wrap .nav-box > li .drop-down .drop-down-item:last-child {
  border-bottom: none;
}
.container .header .top-nav .wrap .nav-box > li a {
  display: block;
  padding: 0 10px;
}
.container .header .top-nav .wrap .nav-box > li .sub-menu {
  display: none;
  visibility: hidden;
  opacity: 0;
  position: fixed;
  left: 0;
  right: 0;
  background: white;
  white-space: nowrap;
  text-align: right;
  box-shadow: 0 1px 0 #e0e0e0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.container .header .top-nav .wrap .nav-box > li .sub-menu .wrap {
  height: auto;
  line-height: 0;
}
.container .header .top-nav .wrap .nav-box > li .sub-menu li {
  position: relative;
  display: inline-block;
  font-size: 14px;
  color: #666;
  line-height: 48px;
  vertical-align: top;
}
.container .header .top-nav .wrap .nav-box > li .sub-menu li.disabled,
.container .header .top-nav .wrap .nav-box > li .sub-menu li.disabled a,
.container .header .top-nav .wrap .nav-box > li .sub-menu li.disabled a:hover {
  color: #bbb;
  cursor: default;
}
.container .header .top-nav .wrap .nav-box > li .sub-menu li:before {
  content: "\e918";
  vertical-align: top;
  font-family: icon;
  color: #bbb;
}
.container .header .top-nav .wrap .nav-box > li .sub-menu li:first-child:before {
  content: none;
}
.container .header .top-nav .wrap .nav-box > li .sub-menu li.active {
  color: #0C89FC;
}
.container .header .top-nav .wrap .nav-box > li .sub-menu li a {
  display: inline-block;
  padding: 0 8px;
  vertical-align: top;
}
.container .header .top-nav .wrap .nav-box > li .sub-menu li a:hover {
  color: #0C89FC;
}
.container .header .top-nav .wrap .nav-box > li.active,
.container .header .top-nav .wrap .nav-box > li:hover {
  text-decoration: none;
  color: #0C89FC;
}
.container .header .top-nav .wrap .nav-box > li.active .sub-menu,
.container .header .top-nav .wrap .nav-box > li:hover .sub-menu {
  z-index: auto;
  display: block;
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
}
.container .header .top-nav .wrap .nav-box > li.active:after,
.container .header .top-nav .wrap .nav-box > li:hover:after {
  content: "";
  position: absolute;
  bottom: 15px;
  left: 10px;
  right: 10px;
  height: 3px;
  background: currentcolor;
}
.container .banner {
  position: relative;
  overflow: hidden;
}
.container .banner .banner-cover {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 99;
}
.container .banner .banner-cover .site-entry {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
}
.container .banner .banner-cover .site-entry .wrap {
  box-sizing: border-box;
  position: relative;
  height: 100%;
  margin: 0 auto;
  width: 1200px;
}
.container .banner .banner-cover .site-entry .wrap .work {
  position: absolute;
  top: 50%;
  right: -10px;
  transform: translateY(-50%);
  height: 340px;
  width: 366px;
  background: white;
  border-radius: 8px;
  padding: 10px;
}
.container .banner .banner-cover .site-entry .wrap .work .work-reg {
  height: 58px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e0e0e0;
}
.container .banner .banner-cover .site-entry .wrap .work .work-reg .user {
  float: left;
}
.container .banner .banner-cover .site-entry .wrap .work .work-reg .user img {
  display: inline-block;
  height: 42px;
  width: 42px;
  border-radius: 50%;
  margin-top: 8px;
}
.container .banner .banner-cover .site-entry .wrap .work .work-reg .user .welcome {
  display: inline-block;
  margin-left: 5px;
  position: relative;
  top: -4px;
  left: 0;
}
.container .banner .banner-cover .site-entry .wrap .work .work-reg .user .welcome h2 {
  font-size: 14px;
  font-weight: 500;
}
.container .banner .banner-cover .site-entry .wrap .work .work-reg .user .welcome p {
  font-size: 12px;
  line-height: 24px;
}
.container .banner .banner-cover .site-entry .wrap .work .work-reg .btns {
  float: right;
  margin-top: 13px;
}
.container .banner .banner-cover .site-entry .wrap .work .work-reg .btns a {
  display: inline-block;
  height: 32px;
  width: 64px;
  border-radius: 4px;
  font-size: 14px;
  line-height: 32px;
  text-align: center;
  color: #333;
  border: 1px solid #e0e0e0;
}
.container .banner .banner-cover .site-entry .wrap .work .work-reg .btns a:first-child {
  margin-right: 10px;
}
.container .banner .banner-cover .site-entry .wrap .work .work-reg .btns a:hover,
.container .banner .banner-cover .site-entry .wrap .work .work-reg .btns a.active {
  background: #4169dc;
  color: #fff;
}
.container .banner .banner-cover .site-entry .wrap .work .work-tit {
  margin: 10px 0;
  height: 28px;
  line-height: 28px;
}
.container .banner .banner-cover .site-entry .wrap .work .work-tit .tit-l {
  float: left;
}
.container .banner .banner-cover .site-entry .wrap .work .work-tit .tit-r {
  float: right;
}
.container .banner .banner-cover .site-entry .wrap .work .work-entry ul {
  padding: 10px 0;
}
.container .banner .banner-cover .site-entry .wrap .work .work-entry ul li {
  float: left;
  height: 32px;
  width: 183px;
  margin-bottom: 25px;
}
.container .banner .banner-cover .site-entry .wrap .work .work-entry ul li a {
  display: block;
  height: 100%;
  width: 100%;
  text-align: center;
  position: relative;
}
.container .banner .banner-cover .site-entry .wrap .work .work-entry ul li a img {
  position: absolute;
  top: 50%;
  left: -5px;
  transform: translateY(-50%);
  height: 32px;
  width: 32px;
}
.container .banner .banner-cover .site-entry .wrap .work .work-entry ul li a p {
  position: absolute;
  top: 0;
  left: 28px;
  height: 32px;
  line-height: 32px;
  font-size: 14px;
}
.container .banner .banner-wrap {
  position: relative;
  height: 450px;
  overflow: hidden;
}
.container .banner .banner-wrap .banner-img {
  position: absolute;
  left: 50%;
  margin-left: -960px;
  width: 1920px;
}
.container .banner.h350 .banner-wrap {
  height: 350px;
}
.container .banner.h350 .swiper-pagination {
  bottom: 70px;
}
.container .banner.h380 .banner-wrap {
  height: 380px;
}
.container .banner.h380 .swiper-pagination {
  bottom: 70px;
}
.container .banner.h400 .banner-wrap {
  height: 400px;
}
.container .banner.h400 .swiper-pagination {
  bottom: 70px;
}
.container .banner.h410 .banner-wrap {
  height: 410px;
}
.container .banner.h410 .swiper-pagination {
  bottom: 70px;
}
.container .banner.h420 .banner-wrap {
  height: 420px;
}
.container .banner.h420 .swiper-pagination {
  bottom: 70px;
}
.container .banner.h450 .banner-wrap {
  height: 450px;
}
.container .banner.h450 .swiper-pagination {
  bottom: 70px;
}
.container .banner .swiper-wrapper {
  position: relative;
  white-space: nowrap;
  font-size: 0;
  overflow: visible;
}
.container .banner .swiper-wrapper .swiper-slide {
  height: 100%;
  display: inline-block;
  position: relative;
  width: 100%;
  vertical-align: top;
  overflow: hidden;
}
.container .banner .swiper-wrapper .swiper-slide img {
  position: absolute;
  left: 50%;
  margin-left: -960px;
  width: 1920px;
  height: 100%;
}
.container .banner .swiper-pagination {
  position: absolute;
  bottom: 160px;
  left: 0;
  right: 0;
  white-space: nowrap;
  text-align: center;
  font-size: 0;
}
.container .banner .swiper-pagination .swiper-pagination-bullet {
  display: inline-block;
  margin: 0 4px;
  width: 11px;
  height: 11px;
  vertical-align: top;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 6px;
  -webkit-transition: width 0.3s ease, background-color 0.3s ease;
  transition: width 0.3s ease, background-color 0.3s ease;
  cursor: pointer;
}
.container .banner .swiper-pagination .swiper-pagination-bullet:hover {
  background: white;
}
.container .banner .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: 44px;
}
.container .banner-search {
  z-index: 99;
  position: relative;
  margin-top: -136px;
  height: 136px;
}
.container .banner-search .wrap {
  box-sizing: border-box;
  position: relative;
  padding-top: 32px;
  height: 100%;
  margin: 0 auto;
  width: 1200px;
}
.container .banner-search .search-bar {
  position: relative;
  width: 720px;
  height: 54px;
  background: white;
  border-radius: 32px;
}
.container .banner-search .search-bar .i-search {
  display: block;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 32px;
  color: #333;
}
.container .banner-search .search-bar.short {
  width: 560px;
}
.container .banner-search .search-bar.long {
  width: 876px;
}
.container .banner-search .search-bar .search-condition {
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 130px;
  line-height: 54px;
  font-size: 18px;
  color: #333;
  text-align: center;
  cursor: pointer;
  border-right: solid 1px #e0e0e0;
}
.container .banner-search .search-bar .search-condition dt {
  overflow: hidden;
}
.container .banner-search .search-bar .search-condition dt:after {
  content: "\e65e";
  display: inline-block;
  margin-left: 8px;
  font-family: "iconfont" !important;
  font-size: 16px;
  color: #999;
  vertical-align: top;
}
.container .banner-search .search-bar .search-condition .dropdown-wrap {
  z-index: 9;
  display: none;
  position: absolute;
  margin-top: 20px;
  left: 50%;
  padding-top: 12px;
  padding-bottom: 8px;
  text-align: center;
  font-size: 18px;
  line-height: 34px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 3px 8px rgba(160, 160, 160, 0.5);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.container .banner-search .search-bar .search-condition .dropdown-wrap:after {
  content: "";
  position: absolute;
  left: 50%;
  top: -7px;
  margin-left: -7px;
  border: solid 7px transparent;
  border-top-width: 0;
  border-bottom-color: white;
}
.container .banner-search .search-bar .search-condition .dropdown-wrap:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -28px;
  height: 28px;
  background: transparent;
}
.container .banner-search .search-bar .search-condition dd {
  display: block;
  margin: 0 auto;
  min-width: 90px;
  cursor: pointer;
}
.container .banner-search .search-bar .search-condition dd:hover {
  color: #4169dc;
}
.container .banner-search .search-bar .search-condition .active .dropdown-wrap {
  display: block;
}
.container .banner-search .search-bar .search-condition[operate=hover]:hover .dropdown-wrap {
  display: block;
}
.container .banner-search .search-bar .search-condition ~ input {
  width: calc(100% - 160px);
  margin-left: 130px;
}
.container .banner-search .search-bar input {
  box-sizing: border-box;
  display: block;
  padding: 0 18px 0 18px;
  width: 100%;
  line-height: 54px;
  font-size: 18px;
  color: #333;
  border: none;
  background: none;
  outline: none;
}
.container .banner-search .search-bar input::-webkit-input-placeholder {
  color: #888;
}
.container .banner-search .btns {
  position: absolute;
  right: 78px;
  top: 32px;
  height: 54px;
  font-size: 0;
  white-space: nowrap;
}
.container .banner-search .btns .search-btn {
  box-sizing: border-box;
  display: inline-block;
  margin-right: 16px;
  padding: 0 30px;
  min-width: 140px;
  vertical-align: top;
  height: 54px;
  line-height: 54px;
  font-size: 20px;
  color: white;
  text-align: center;
  background: linear-gradient(to right, #63b1ff, #1188ff);
  border-radius: 6px;
}
.container .banner-search .btns .search-btn.icon-search {
  overflow: hidden;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.container .banner-search .btns .search-btn.icon-search:before {
  content: "\e904";
  display: inline-block;
  vertical-align: top;
  margin-left: -8px;
  margin-right: 10px;
  font-size: 26px;
  color: white;
  font-family: icon;
}
.container .banner-search .btns .search-btn.search-btn-red {
  background: linear-gradient(to right, #dd3d57, #ba001e);
}
.container .banner-search .btns .search-btn.search-btn-green {
  background: linear-gradient(to right, #4dbca8, #45b9db);
}
.container .banner-search .tags {
  margin-left: 10px;
  font-size: 14px;
  line-height: 44px;
  color: white;
}
.container .banner-search .tags a:hover {
  color: #4169dc;
}
.container .banner-search.without-tag .wrap {
  padding-top: 44px;
}
.container .banner-search.without-tag .btns {
  top: 44px;
}
.container .footer {
  background: #3C3C3C;
}
.container .footer .wrapper {
  position: relative;
  margin: 0 auto;
  padding: 30px 0 40px;
  width: 1200px;
}
.container .footer .wrapper .top-con {
  height: 42px;
  width: 302px;
  margin: 20px auto 40px;
}
.container .footer .wrapper .top-con img {
  width: 100%;
  height: 100%;
}
.container .footer .wrapper .bottom-con {
  position: relative;
  width: 1080px;
  height: 140px;
  margin: 0 auto;
}
.container .footer .wrapper .bottom-con .hot-line {
  position: absolute;
  top: 0;
  left: 0;
  width: 210px;
  height: 140px;
}
.container .footer .wrapper .bottom-con .hot-line .hot-line-icon {
  float: left;
  width: 44px;
  height: 100%;
}
.container .footer .wrapper .bottom-con .hot-line .hot-line-icon img {
  height: 44px;
  width: 44px;
}
.container .footer .wrapper .bottom-con .hot-line .hot-line-des {
  float: right;
  width: 156px;
  height: 100%;
}
.container .footer .wrapper .bottom-con .hot-line .hot-line-des p {
  margin-bottom: 8px;
}
.container .footer .wrapper .bottom-con .hot-line .hot-line-des p.tit {
  font-size: 14px;
  font-weight: 500;
  color: #bbb;
}
.container .footer .wrapper .bottom-con .hot-line .hot-line-des p.date {
  font-size: 12px;
  color: #999;
}
.container .footer .wrapper .bottom-con .hot-line .hot-line-des p.phone {
  font-size: 18px;
  font-weight: 700;
  color: #fff;
}
.container .footer .wrapper .bottom-con .qr-box {
  position: absolute;
  top: 0;
  left: 320px;
  width: 295px;
  height: 140px;
}
.container .footer .wrapper .bottom-con .qr-box .qr-code {
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
  text-align: center;
  font-size: 14px;
  color: #bbb;
}
.container .footer .wrapper .bottom-con .qr-box .qr-code img {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 10px;
  width: 110px;
  height: 110px;
}
.container .footer .wrapper .bottom-con .fr-link {
  position: absolute;
  top: 0;
  right: 0;
  width: 424px;
  height: 140px;
  font-size: 14px;
}
.container .footer .wrapper .bottom-con .fr-link dl {
  margin-bottom: 5px;
  height: 28px;
}
.container .footer .wrapper .bottom-con .fr-link dl dt,
.container .footer .wrapper .bottom-con .fr-link dl dd {
  float: left;
  margin-left: 10px;
  line-height: 28px;
}
.container .footer .wrapper .bottom-con .fr-link dl dt {
  margin-right: 5px;
  width: 84px;
  color: #999;
}
.container .footer .wrapper .bottom-con .fr-link dl dd a {
  display: block;
  line-height: 28px;
  text-align: center;
  float: left;
  color: #fff;
  position: relative;
}
.container .footer .wrapper .bottom-con .fr-link dl dd a.rb::after {
  content: '';
  height: 14px;
  width: 1px;
  background: #fff;
  position: absolute;
  top: 50%;
  right: -6px;
  transform: translateY(-50%);
}
.container .footer .copyright {
  font-size: 14px;
  line-height: 3.5em;
  text-align: center;
  color: #999;
  background: #333333;
  border-top: 1px solid #999;
}
.container .page-nav {
  text-align: center;
  margin-top: 36px;
  margin-bottom: 24px;
  font-size: 14px;
  line-height: 34px;
}
.container .page-nav.left {
  text-align: left;
}
.container .page-nav.right {
  text-align: right;
}
.container .page-nav li {
  box-sizing: border-box;
  display: inline-block;
  padding: 0 6px;
  margin: 0 5px;
  min-width: 34px;
  vertical-align: top;
  text-align: center;
  color: #999;
  background: white;
}
.container .page-nav li a {
  display: block;
}
.container .page-nav li.disabled,
.container .page-nav li.disabled:hover {
  color: white;
  background: #e0e0e0;
  cursor: default;
}
.container .page-nav li.disabled a,
.container .page-nav li.disabled:hover a {
  cursor: default;
}
.container .page-nav li:hover,
.container .page-nav li.active {
  color: white;
  background: #4169dc;
}
.container .page-nav .btn {
  box-sizing: border-box;
  color: white;
  text-align: center;
  background: #4169dc;
  border: solid 1px transparent;
  cursor: pointer;
  font-size: 14px;
  border-radius: 0;
}
.container .page-nav .btn:hover {
  background: #6c8be4;
}
.container .page-nav .btn[disabled],
.container .page-nav .btn[disabled]:hover {
  cursor: default;
  opacity: 0.5;
  background: #4169dc;
}
.container .page-nav .btn.btn-ghost {
  color: #4169dc;
  background: white;
  background: transparent;
  border: solid 1px;
}
.container .page-nav .btn.btn-ghost:hover {
  color: #6c8be4;
  background: white;
  background: transparent;
}
.container .page-nav .btn.btn-ghost[disabled],
.container .page-nav .btn.btn-ghost[disabled]:hover {
  cursor: default;
  opacity: 0.5;
  color: #4169dc;
  background: white;
  background: transparent;
}
.container .page-nav .btn.btn-red {
  background: #f74d4d;
}
.container .page-nav .btn.btn-red:hover {
  color: white;
  background: #f97e7e;
}
.container .page-nav .btn.btn-red[disabled],
.container .page-nav .btn.btn-red[disabled]:hover {
  cursor: default;
  opacity: 0.5;
}
.container .page-nav .btn.btn-green {
  background: #3fc3a3;
}
.container .page-nav .btn.btn-green:hover {
  color: white;
  background: #4fd1b0;
}
.container .page-nav .btn.btn-green[disabled],
.container .page-nav .btn.btn-green[disabled]:hover {
  cursor: default;
  opacity: 0.5;
}
.container .page-nav .btn.btn-orange {
  background: #ff9711;
}
.container .page-nav .btn.btn-orange:hover {
  color: white;
  background: #ffab2f;
}
.container .page-nav .btn.btn-orange[disabled],
.container .page-nav .btn.btn-orange[disabled]:hover {
  cursor: default;
  opacity: 0.5;
}
.container .page-nav .btn.btn-ghost {
  color: #436bcf;
  background: white;
}
.container .page-nav .btn.btn-ghost:hover {
  color: #6c8be4;
}
.container .page-nav span input {
  margin: 0 6px;
  width: 34px;
  vertical-align: top;
  text-align: center;
  background: white;
  box-shadow: 0 0 0 1px #e0e0e0 inset;
}
.container .page-nav .icon-ellipsis {
  display: inline-block;
  margin: 0 5px;
  vertical-align: top;
  color: #999;
}
.container .page-nav .icon-ellipsis:before {
  content: "\E917";
  font-size: 28px;
  font-family: icon;
  vertical-align: top;
}
.container .page-nav[size="small"] {
  margin-top: 24px;
  font-size: 12px;
  line-height: 30px;
}
.container .page-nav[size="small"] li {
  min-width: 30px;
}
.container .page-nav.align-right {
  text-align: right;
}
.container .page-nav.align-right li:last-child {
  margin-right: 0;
}
.container .mask {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2000;
  background: rgba(0, 0, 0, 0.5);
  display: none;
}
.container .mask .area-container {
  position: absolute;
  top: -556px;
  left: 50%;
  transform: translateX(-50%);
  background: white;
  border-radius: 4px;
  height: 556px;
  width: 900px;
}
.container .mask .area-container .close {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 36px;
  width: 34px;
  padding-left: 2px;
  color: #999;
  border-radius: 50%;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
}
.container .mask .area-container .close:hover {
  background: #0C89FC;
  color: #fff;
}
.container .mask .area-container .close i {
  font-size: 28px;
}
.container .mask .area-container .con-title {
  height: 60px;
  border-bottom: 1px solid #e0e0e0;
}
.container .mask .area-container .con-title h1 {
  width: 75%;
  height: 100%;
  line-height: 60px;
  text-indent: 30px;
  font-size: 24px;
  color: #333;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.container .mask .area-container .con-play {
  position: relative;
  height: 496px;
  width: 900px;
}
.container .mask .area-container .con-play video {
  display: block;
  margin: 10px auto;
  height: 476px;
  width: 880px;
}
.container .mask .area-container .con-play .click {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -45px 0 0 -45px;
  height: 90px;
  width: 90px;
  line-height: 90px;
  text-align: center;
  background: rgba(255, 255, 255, 0.4);
  color: #fff;
  border-radius: 50%;
  cursor: pointer;
}
.container .mask .area-container .con-play .click i {
  font-size: 45px;
  margin-left: 5px;
}
.container .mask .detail-box {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 800px;
  transform: translate(-50%, -50%);
  background: white;
  box-shadow: 0 12px 40px rgba(168, 168, 168, 0.75);
}
.container .mask .detail-box .box-header {
  position: relative;
  padding: 12px 18px;
  font-weight: bold;
  border-bottom: solid 1px #e0e0e0;
}
.container .mask .detail-box .box-header .icon-close {
  position: absolute;
  right: 10px;
  top: 8px;
  width: 32px;
  font-family: "iconfont" !important;
  font-size: 20px;
  font-weight: normal;
  text-align: center;
  line-height: 32px;
  color: #999;
  border-radius: 50%;
}
.container .mask .detail-box .box-header .icon-close:hover {
  background: #0C89FC;
  color: #fff;
}
.container .mask .detail-box .box-header .icon-close:before {
  font-size: 16px;
  content: "\e677";
}
.container .mask .detail-box .content-box {
  padding: 14px 16px;
  margin: 16px 20px;
  background: #f1f8ff;
}
.container .mask .detail-box .content-box h3 {
  font-weight: bold;
  font-size: 18px;
}
.container .mask .detail-box .content-box p {
  margin-top: 12px;
  margin-left: 0;
  margin-right: 0;
  line-height: 1.5;
  color: #777;
}
.container .mask .detail-box .reply-title {
  margin: 16px 40px;
  font-size: 18px;
  font-weight: bold;
  color: #4169dc;
}
.container .mask .detail-box p {
  margin-top: 12px;
  margin-left: 40px;
  margin-right: 40px;
  line-height: 1.5;
  color: #777;
  text-align: justify;
}
.container .mask .detail-box .time.align-right {
  margin-top: 16px;
  margin-right: 40px;
  text-align: right;
}
.container .mask .detail-box .others {
  margin-top: 14px;
  line-height: 40px;
  position: relative;
  text-align: right;
  line-height: 54px;
  color: #777;
  background: #f6f6f6;
  padding: 6px 40px 6px 0;
}
.container .mask .detail-box .others .time {
  position: absolute;
  top: 6px;
  left: 40px;
}
.container .mask .detail-box .others .views,
.container .mask .detail-box .others .name {
  display: inline-block;
  vertical-align: top;
  margin-left: 28px;
  padding-left: 32px;
  background: none no-repeat 0 center;
}
.container .mask .detail-box .others .views {
  background-image: url(../../img/icons/icon-s-view.png);
}
.container .mask .detail-box .others .name {
  background-image: url(../../img/icons/icon-s-user.png);
}
