.mixin-btn {
  box-sizing: border-box;
  color: white;
  text-align: center;
  background: #4169dc;
  border: solid 1px transparent;
  cursor: pointer;
}
.mixin-btn:hover {
  background: #6c8be4;
}
.mixin-btn[disabled],
.mixin-btn[disabled]:hover {
  cursor: default;
  opacity: 0.5;
  background: #4169dc;
}
.mixin-btn.btn-ghost {
  color: #4169dc;
  background: white;
  background: transparent;
  border: solid 1px;
}
.mixin-btn.btn-ghost:hover {
  color: #6c8be4;
  background: white;
  background: transparent;
}
.mixin-btn.btn-ghost[disabled],
.mixin-btn.btn-ghost[disabled]:hover {
  cursor: default;
  opacity: 0.5;
  color: #4169dc;
  background: white;
  background: transparent;
}
.mixin-btn.btn-red {
  background: #f74d4d;
}
.mixin-btn.btn-red:hover {
  color: white;
  background: #f97e7e;
}
.mixin-btn.btn-red[disabled],
.mixin-btn.btn-red[disabled]:hover {
  cursor: default;
  opacity: 0.5;
}
.mixin-btn.btn-green {
  background: #3fc3a3;
}
.mixin-btn.btn-green:hover {
  color: white;
  background: #4fd1b0;
}
.mixin-btn.btn-green[disabled],
.mixin-btn.btn-green[disabled]:hover {
  cursor: default;
  opacity: 0.5;
}
.mixin-btn.btn-orange {
  background: #ff9711;
}
.mixin-btn.btn-orange:hover {
  color: white;
  background: #ffab2f;
}
.mixin-btn.btn-orange[disabled],
.mixin-btn.btn-orange[disabled]:hover {
  cursor: default;
  opacity: 0.5;
}
.container .banner.h412 .swiper-pagination {
  bottom: 70px;
}
.sc-content {
  background: #f8f8f8;
}
.sc-content .side-columns {
  margin: 20px auto 0;
  font-size: 0;
  white-space: nowrap;
}
.sc-content .side-columns .col-side,
.sc-content .side-columns .col-content {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  white-space: normal;
  font-size: 16px;
}
.sc-content .side-columns .col-side {
  width: 260px;
}
.sc-content .side-columns .col-side .side-entry {
  margin-top: 30px;
}
.sc-content .side-columns .col-side .side-entry .entry-img {
  height: 102px;
  width: 100%;
  margin-bottom: 20px;
}
.sc-content .side-columns .col-side .side-entry .entry-img img {
  border-radius: 8px;
  height: 100%;
  width: 100%;
}
.sc-content .side-columns .col-side .side-content {
  background: white;
  -webkit-box-shadow: #E1E1E1 0px 0px 8px;
  -moz-box-shadow: #E1E1E1 0px 0px 8px;
  box-shadow: #E1E1E1 0px 0px 8px;
  padding-bottom: 10px;
  border-radius: 8px 8px 0 0;
}
.sc-content .side-columns .col-side h2 {
  padding: 14px 20px;
  font-size: 22px;
  color: white;
  height: 55px;
  line-height: 55px;
  text-align: center;
  border-radius: 8px 8px 0 0;
  background: url(../img/side-titbg.png) no-repeat center;
  background-size: 100% 100%;
}
.sc-content .side-columns .col-side ul {
  margin-top: 10px;
  border-radius: 0 0 8px 8px;
}
.sc-content .side-columns .col-side ul li {
  color: #999;
  position: relative;
  text-align: left;
}
.sc-content .side-columns .col-side ul li.active,
.sc-content .side-columns .col-side ul li:hover {
  color: #0C89FC;
  font-weight: 700;
  background: #E5F4FF;
}
.sc-content .side-columns .col-side ul li.active::before,
.sc-content .side-columns .col-side ul li:hover::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 30px;
  width: 4px;
  background: #0C89FC;
}
.sc-content .side-columns .col-side ul li a {
  position: relative;
  display: block;
  padding: 12px 0 12px 70px;
}
.sc-content .side-columns .col-content {
  background: white;
  padding: 0 0 16px;
  margin: 0 20px;
  width: calc(100% - 260px - 40px);
  min-height: 540px;
  -webkit-box-shadow: #E1E1E1 0px 0px 8px;
  -moz-box-shadow: #E1E1E1 0px 0px 8px;
  box-shadow: #E1E1E1 0px 0px 8px;
  border-radius: 4px;
}
.sc-content .side-columns .col-content .content-silde-box .content-title {
  font-size: 18px;
  padding: 20px;
  border-bottom: 1px solid #e0e0e0;
}
.sc-content .side-columns .col-content .content-silde-box .content-article {
  padding: 20px;
  min-height: 500px;
}
.sc-content .side-columns .col-content .content-silde-box .content-article .p-box {
  margin-bottom: 16px;
}
.sc-content .side-columns .col-content .content-silde-box .content-article .p-box h2 {
  line-height: 32px;
}
.sc-content .side-columns .col-content .content-silde-box .content-article .p-box p {
  line-height: 1.75;
}
